@charset "utf-8";
/* Layout Style*/

.mo {
  display: block;
}
.pc {
  display: none;
}
@media all and (min-width: 961px){
  .mo {
    display: none;
  }
  .pc {
    display: block;
  }
}
// header
header {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 25px 90px;
  h1 {
    a {
      img {
        width: auto;
        height: 50px;
      }
    }
  }
  .store-box {
    display: flex;
    a {
      display: inline-block;
      width: 188px;
      height: 70px;
      border-radius: 14px;
      background: #fff url(../images/ico_appstore.png) no-repeat center center;
      background-size: 129px 34px;
      text-indent: -3000em;
      &.android {
        margin-left: 40px;
        background: #fff url(../images/ico_playstore.png) no-repeat center center;
        background-size: 143.79px 34px;
      }
    }
  }
}
@media all and (min-width: 961px){
  header {
    display: flex;
    padding: 15px 30px;
    .menu {
      ul {
        display: flex;
        justify-content: space-between;
        width: 250px;
        li {
          height: 50px;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-weight: 400;
            font-size: 16px;
          }
          &.active {
            a {
              font-weight: 700;
            }
            border-bottom: solid 2px #E6A500;
          }
        }
      }
    }
    .store-box {
      a {
        width: 120px;
        height: 45px;
        background: #fff url(../images/ico_appstore.png) no-repeat center center;
        background-size: 90px 24px;
        &.android {
          margin-left: 40px;
          background: #fff url(../images/ico_playstore.png) no-repeat center center;
          background-size: 90px 21px;
        }
      }
    }
  }
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .ani-box {
    .con {
      position: relative;
      width: 100vw;
      height: 100vh;
      //min-height: 700px;
      background: #FFF8DD;
      overflow: hidden;
      h1 {
        position: absolute;
        top: 5px;
        right: 10px;
        a {
          img {
            height: 35px;
          }
        }
      }
      > div, .d-con, .c-con {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        width: calc(100% + 1px);
        height: 100%;
        &.c-box, .c-con {
          top: auto;
          bottom: 0;
        }
        &.c-box{
          height: 120%;
          background: url(../images/bg-c.png) no-repeat left top;
          background-size: 100%;
        }
        &.top {
          bottom: 0;
        }
        .d-con {
          .tit {
            top: 100px;
          }
          .d-phone-box {
            position: absolute;
            top: 25%;
            left: 50%;
            margin-left: -100px;
          }
        }
        .c-con {
          .tit {
            top: calc(100% - 96px);
          }
          .c-phone-box {
            position: absolute;
            top: 35%;
            left: 60%;
            margin-top: -54px;
            margin-left: -120px;
          }
        }
      }
    }
  }
}
/* motion */
.tit {
  position: relative;
  top: calc(50% - 80px);
  padding: 33px 0 0;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.011em;
  color: #2E2E2E;
  &.d {
    padding: 0;
  }
}
.bag {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 176px;
  height: 242px;
  margin-left: -88px;
  margin-top: -121px;
  background: url(../images/bag.svg) no-repeat center center;
  background-size: 176px 242px;
  filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.25));
  transform: scale(0);
}
.dtalk01 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 240px;
  height: 109px;
  margin-left: -140px;
  margin-top: -197px;
  background: url(../images/d_talk01.png) no-repeat left top;
  background-size: 240px 109px;
  opacity: 0;
}
.ctalk01 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 236px;
  height: 109px;
  margin-left: -93px;
  margin-top: 1px;
  background: url(../images/c_talk01.png) no-repeat left top;
  background-size: 236px 109px;
  opacity: 0;
}
.dtalk02 {
  position: absolute;
  left: -40px;
  top: -30px;
  width: 240px;
  height: 109px;
  background: url(../images/d_talk02.png) no-repeat left top;
  background-size: 240px 109px;
  opacity: 0;
}
.ctalk02 {
  position: absolute;
  left: -10px;
  top: 110px;
  width: 236px;
  height: 109px;
  background: url(../images/c_talk02.png) no-repeat left top;
  background-size: 236px 109px;
  opacity: 0;
}
.phone {
  position: absolute;
  left: 110px;
  width: 82px;
  height: 150px;
  background: url(../images/phone.png) no-repeat center center;
  background-size: 82px 150px;
  opacity: 0;
  transform: translateY(-10px);
  &.d {
    left: 0;
    top: 40px;
  }
}
.c-line-red {
  position: absolute;
  top: 30px;
  width: 160px;
  height: 96.54px;
  background: url(../images/line_c_red.png) no-repeat center center;
  background-size: 160.5px 96.54px;
  opacity: 0;
}
.small-bag {
  position: absolute;
  top: 40px;
  left: 127px;
  width: 48px;
  height: 66px;
  background: url(../images/small_bag.png) no-repeat center center;
  background-size: 48px 66px;
  opacity: 0;
  transform: translateY(-10px);
}
.bic-spot {
  position: absolute;
  left: 155px;
  width: 80px;
  height: 104px;
  background: url(../images/bic_spot.png) no-repeat center center;
  background-size: 80px 104px;
  transform: translateY(-10px);
  opacity: 0;

}
.small-spot {
  position: absolute;
  top: 65px;
  left: 20px;
  width: 40px;
  height: 52px;
  background: url(../images/small_spot.png) no-repeat center center;
  background-size: 40px 52px;
  transform: translateY(-10px);
  opacity: 0;
}
.d-line-red {
  position: absolute;
  top: 80px;
  left: 30px;
  width: 164.5px;
  height: 61.32px;
  background: url(../images/line_d_red.png) no-repeat center center;
  background-size: 164.5px 61.32px;
  opacity: 0;
}
.noti-box {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -154px;
  margin-top: -125px;
  width: 308px;
  height: 270px;
  background: #FFFFFF;
  box-shadow: 0px 14px 10px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  opacity: 0;
  .shadow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 255px;
    height: 74px;
    margin-left: -127px;
    margin-top: 37px;
    background: rgba(230, 230, 230, 0.4);
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
  }
  .noti {
    position: absolute;
    left: calc(50% - 40px);
    top: -40px;
    width: 80px;
    height: 80px;
    background-color: #fafafa;
    border-radius: 50%;
    transform: translateY(-10px);
    transform: scale(0);
    opacity: 0;
    &:before {
      content: '';
      position: absolute;
      left:60px;
      top: 5px;
      width: 16px;
      height: 16px;
      background-color: #ff5d29;
      border-radius: 50%;
    }
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      width: 53px;
      height: 53px;
      margin-left: -27px;
      margin-top: -26px;
      background: url(../images/jong.png) no-repeat center center;
      background-size: 53px 53px;
      animation: bell 2s linear infinite;
    }
  }
  @keyframes bell{
    0%, 50%{
      transform: rotate(0deg);
    }
    5%, 15%, 25%, 35%, 45% {
      transform: rotate(10deg);
    }
    10%, 20%, 30%, 40% {
      transform: rotate(-10deg);
    }
  }
}
.noti-small-spot {
  position: absolute;
  left: 40%;
  top: 56%;
  width: 50px;
  height: 65px;
  margin-left: -35px;
  margin-top: -12px;
  background: url(../images/small_spot.png) no-repeat center center;
  background-size: 50px 65px;
  filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.25));
  transform: translateY(-10px);
  opacity: 0;
}
.btn-box {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  top: auto;
  bottom: 0;
  padding-bottom: 50px;
  button, a {
    display: none;
    align-items: center;
    justify-content: center;
    width: 308px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    color: #FFFFFF;
    background: #2E2E2E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    opacity: 0;
    &.action {
      position: relative;
      overflow: hidden;
      &:before {
        position: absolute;
        content: '';
        display: inline-block;
        top: -180px;
        left: 0;
        width: 30px;
        height: 100%;
        background-color: #fff;
        animation: shiny-btn 3s ease-in-out infinite;
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255,255,255,.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
      }
    }
    @keyframes shiny-btn {
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
      100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
    }
  }
}
.chat-box {
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
  width: 315px;
  height: 500px;
  margin-left: -156px;
  margin-top: -200px;
  overflow: hidden;
  opacity: 0;
  ul {
    position: absolute;
    width: 315px;
    animation: scroll 8s linear;
    li {
      margin-top: 30px;
      &.lt {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        div {
          display: flex;
          flex-direction: row-reverse;
          em {
            margin-left: 0;
            margin-right: 10px;
          }
        }
      }
      div {
        display: flex;
        align-items: center;
        span {
          position: relative;
          display: inline-block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #FFE066;
          &:after {
            content: '';
            position: absolute;
            top: 20px;
            left: 16px;
            width: 8px;
            height: 8px;
            background-color: #93C822;
            border: 2px solid #FFFFFF;
            border-radius: 50%;
          }
        }
        em {
          display: inline-block;
          width: 69px;
          height: 15px;
          margin-left: 10px;
          background-color: #FFE066;
          border-radius: 10px;
        }
      }
      p {
        width: 222px;
        height: 30px;
        margin-top: 10px;
        background-color: #FFE066;
        border-radius: 20px;
        animation: chat 3s linear infinite;
      }&:nth-child(2) {
         p {
           animation-delay: 0.3s;
         }
       }
      &:nth-child(3) {
        p {
          animation-delay: 0.1s;
          animation-duration: 5s;
        }
      }
      &:nth-child(4) {
        p {
          animation-delay: 0.6s;
        }
      }
      &:nth-child(5) {
        p {
          animation-delay: 0.2s;
          animation-duration: 8s;
        }
      }
      &:nth-child(6) {
        p {
          animation-delay: 0.8s;
        }
      }
      &:nth-child(7) {
        p {
          animation-delay: 1s;
          animation-duration: 10s;
        }
      }
      &:nth-child(8) {
        p {
          animation-delay: 1.2s;
        }
      }
      &:nth-child(9) {
        p {
          animation-delay: 0.6s;
          animation-duration: 7s;
        }
      }
      &:nth-child(10) {
        p {
          animation-delay: 0.1s;
        }
      }
      &:nth-child(11) {
        p {
          animation-delay: 0.9s;
          animation-duration: 9s;
        }
      }
      &:nth-child(12) {
        p {
          animation-delay: 0.5s;
        }
      }
      &:nth-child(13) {
      }
    }
  }
  @keyframes chat{
    0% {
      width: 60px;
    }
    50% {
      width: 250px;
    }
    100% {
      width: 60px;
    }
  }
  @keyframes scroll{
    0% {
      transform: translateY(300px);
    }
    99% {
      transform: translateY(-600px);
    }
    100% {
      transform: translateY(-600px);
    }
  }
}
.mov-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .bg {
    display: none;
    position: absolute;
    left: -40%;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: #FFCC00;
    animation: bg 10s linear infinite;
    opacity: 0;
  }
  @keyframes bg{
    0%{left: -40%;}
    100%{left: 140%;}
  }
  .mov-bg {
    display: none;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 128px;
    margin-top: -64px;
    background: url(../images/bg_mov.png) repeat-x left bottom;
    background-size: auto 128px;
    animation: bg-mov 10s linear infinite ;
    opacity: 0;
  }
  @keyframes bg-mov{
    0%{background-position: 0 0;}
    100%{background-position: 100vw 0;}
  }
}
.yellow-shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 255px;
  height: 74px;
  margin-left: -100px;
  margin-top: 0;
  border-radius: 50%;
  background-color: #FFF1BC;
  transform: scale(0);
  opacity: 0;
}
.camera-box {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: 0;
  .camera {
    position: relative;
    width: 164px;
    height: 300px;
    background: url(../images/camera.png) no-repeat center center;
    background-size: 165px 300px;
    opacity: 0;
    .focus {
      position: absolute;
      left: 14px;
      top: 50px;
      width: 135px;
      height: 200px;
      background: url(../images/foucs.png) no-repeat center center;
      background-size: 135px 200px;
      transform-origin: 67px 100px;
      transform: scale(0);
      opacity: 0;
    }
    .camera-bag {
      position: absolute;
      top: 70px;
      left: 34px;
      width: 96px;
      height: 132px;
      background: url(../images/small_bag.png) no-repeat center center;
      background-size: 96px 132px;
      opacity: 0;
    }
  }
}
.money-box {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -173px;
  margin-top: -146px;
  .money {
    position: relative;
    width: 345px;
    height: 293px;
    background: url(../images/money.png) no-repeat center center;
    background-size: 345px 293px;

    z-index: 3;
    transform: scale(0);
    transform-origin: 172px 293px;
    opacity: 0;
  }
  .money-shadow {
    position: absolute;
    left: 20px;
    bottom: -5px;
    width: 295px;
    height: 74px;
    background-color: #FFD600;
    border-radius: 50%;
    z-index: 1;
    transform: scale(0);
    opacity: 0;
  }
}
.terms {
  padding: 20px 40px;
  white-space: pre-wrap;
  font-size: 12px;
  line-height: 1.5;
  color: #2e2e2e;
  overflow: hidden;
  overflow-y: auto;
  h2 {
    font-size: 14px;
    font-weight: bold;
  }
}
@media all and (min-width: 961px) {
  body {
    background-color: #FFD600;
  }
  main {
    height: calc(100vh - 70px);
    .ani-box {
      .con {
        h1 {
          display: none;
        }
        width: 428px;
        height: 700px;
        border-radius: 20px;;
        filter: drop-shadow(0px 0px 40px rgba(255, 153, 0, 0.4));
      }
    }
  }
}
.inner {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 961px;
  height: 100vh;
  margin: 0 auto;
  &.h-auto {
    height: auto;
  }
  &.d-column {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media all and (min-width: 961px) {
  .inner {
    &.h-auto {
      align-items: start;
      > div {
        text-align: left;
      }
    }
  }
}
section {
  height: 100vh;
  background-color: #FFD600;
  &.info {
    background-color: #FFF8DD;
    .gagim {
      width: 100%;
      padding: 0 30px;
      ul {
        li {
          display: flex;
          flex-direction: column;
          margin-top: 30px;
          &:first-child {
            margin-top: 0;
          }
          &:before {
            content: '';
            display: block;
            width: 50px;
            height: 10px;
            background-color: #FFCC00;
          }
          h3 {
            margin-top: 10px;
            font-weight: 600;
            font-size: 25px;
            line-height: 30px;
          }
          p {
            margin-top: 10px;
            font-weight: 200;
            font-size: 12px;
            color: #484848;
            line-height: 18px;
            strong {
              font-size: 12px;
              font-weight: 600;
            }
          }
        }
      }
    }
    .gagim-img {
      position: relative;
      display: none;
      width: 50%;
      height: 100vh;
      img {
        position: absolute;
        left: 50%;
        bottom: -40px;
        width: 410px;
        margin-left: -205px;
      }
    }
  }
  &.faq {
    height: auto;
    .inner {
      height: auto;
      .top {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 30px 30px 0;
        h2 {
          font-weight: 600;
          font-size: 25px;
          line-height: 30px;
          &:before {
            content: '';
            display: block;
            width: 50px;
            height: 10px;

          }
        }
        p {
          margin-top: 15px;
          font-weight: 200;
          font-size: 12px;
          color: #484848;
          line-height: 18px;
          strong {
            font-size: 12px;
            font-weight: 600;
          }
        }
      }
      .faq-box {
        padding: 30px 30px;
        .list {
          display: flex;
          flex-direction: column;
          width: 100%;
          ul {
            width: 100%;
            &:first-child {
              margin-right: 15px;
              margin-bottom: 15px;
            }
            li {
              height: 80px;
              padding: 0 60px 0 20px;
              margin-top: 15px;
              font-size: 18px;
              font-weight: 200;
              color: #484848;
              border-radius: 10px;
              background: #fff url(../images/ico_faq_list_arrow.png) no-repeat calc(100% - 20px) center;
              background-size: 24px 24px;
              &:first-child {
                margin-top: 0;
              }
              a {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}
.pop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  //display: flex;
  display: none;
  .pop-inner {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #fff;
    .faq-tit {
      font-size: 18px;
      font-weight: 600;
      padding: 30px;
    }
    .faq-con {
      padding: 30px;
      padding-top: 0;
    }
    .btn-box {
      padding-bottom: 30px;
      button {
        display: flex;
        opacity: 1;
      }
    }
  }
}
@media all and (min-width: 961px) {
  section {
    &.info {
      .gagim {
        width: 50%;
        ul {
          li {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            &:first-child {
              margin-top: 0;
            }
            &:before {
              content: '';
              display: block;
              width: 50px;
              height: 10px;
              background-color: #FFCC00;
            }
            h3 {
              margin-top: 15px;
              font-weight: 600;
              font-size: 40px;
              line-height: 60px;
            }
            p {
              margin-top: 15px;
              font-weight: 200;
              font-size: 14px;
              line-height: 20px;
              strong {
                font-weight: 600;
              }
            }
          }
        }
      }
      .gagim-img {
        display: block;
      }
    }
    &.faq {
      height: 100vh;
      .inner {
        height: 100vh;
        .top {
          display: flex;
          flex-direction: column;
          width: 100%;
          h2 {
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            &:before {
              content: '';
              display: block;
              width: 50px;
              height: 10px;

            }
          }
          p {
            margin-top: 15px;
            font-weight: 200;
            font-size: 14px;
            color: #484848;
            line-height: 20px;
            strong {
              font-weight: 600;
            }
          }
        }
        .faq-box {
          margin-top: 44px;
          .list {
            display: flex;
            flex-direction: row;
            width: 100%;
            ul {
              width: 50%;
              &:first-child {
                margin-right: 15px;
              }
              li {
                display: flex;
                align-items: center;
                height: 80px;
                padding: 0 60px 0 20px;
                margin-top: 15px;
                font-size: 18px;
                font-weight: 200;
                color: #484848;
                border-radius: 10px;
                background: #fff url(../images/ico_faq_list_arrow.png) no-repeat calc(100% - 20px) center;
                background-size: 24px 24px;
                &:first-child {
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .pop {
    align-items: center;
    justify-content: center;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.25);
      z-index: 0;
    }
    .pop-inner {
      position: relative;
      max-width: 600px;
      max-height: 400px;
    }
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 10px;
  line-height: 25px;
  color: #2E2E2E;
  text-align: center;
  background-color: #E5E5E5;
  p {
    a {
      font-size: 12px;
      font-weight: 600;
      color: #2E2E2E!important;
    }
  }
  ul {
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      a {
        font-weight: 500;
        font-size: 11px;
        line-height: 12px;
        text-align: center;
        text-decoration-line: underline;
        color: #2E2E2E!important;
      }
    }
  }
  div {
    font-weight: 200;
    margin-top: 10px;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #2E2E2E;
  }
  .copyright {
    margin-top: 10px;
    font-weight: 200;
    font-size: 10px;
    color: #2E2E2E;
  }
  .mo {
    display: block;
  }
}
@media all and (min-width: 961px) {
  footer {
    display: flex;
    padding: 35px 0 0;
  }
  .mo {
    display: none;
  }
}